p {
  margin: 20px;
  padding: 40px;
  color: aqua;
  margin: 20px;
  padding: 40px;
  margin: 10% 30em 5ex;
}

div {
  color: #333;
  border-color: blue;
  background-color: blueviolet;
  font-weight: normal;
  z-index: 15;
  padding: 5px !important;
  position: absolute;
  z-index: 5;
  /* p !5 */
  display: inline-block;
  box-sizing: border-box w
}

p {
  width: 12;
  height: 5;
  margin: 0 auto;
  font-size: medium;
  font-weight: normal;
  vertical-align: top;
}

h1 {
  vertical-align: top;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  background: #000;
  background-color: #fff;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 2;
}